.form-registerlabel {
    text-align: center;
}

.jumbotron {
    border-radius: 15px;
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
}

.form-label {
    font-weight: bold;
    text-align: left;
}
.button-group {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    margin-top: 20px; /* Adjust as needed */
}

.button-group .btn {
    flex: 1; /* Equal width for both buttons */
    margin: 0 5px; /* Adjust as needed */
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 2; /* Increase the z-index to ensure the icon is above the input */
    border: 1px solid #ced4da; /* Match the input field's border color */
    border-left: none; /* Ensure the eye icon's left border matches the input field */
    border-radius: 0 4px 4px 0; /* Match the input field's border-radius */
    
}

.input-group {
    position: relative;
}

.input-group .form-control {
    padding-right: 40px; /* Adjust as needed to accommodate the eye icon */
    z-index: 1; /* Ensure the input field is behind the eye icon */
}

.alert {
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

