<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="registration-form" #form="ngForm" (ngSubmit)="onFormSubmit()">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center text-info mb-4">Register User Data</h2>
                        <div class="form-group">
                            <label for="name" class="form-label font-weight-bold align-left">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name."
                                [(ngModel)]="model.name" required>
                        </div>
                        <div class="form-group">
                            <label for="name-f" class="form-label font-weight-bold align-left">First Name</label>
                            <input type="text" class="form-control" name="fname" id="name-f"
                                placeholder="Enter your first name." [(ngModel)]="model.firstName" required>
                        </div>
                        <div class="form-group">
                            <label for="name-u" class="form-label font-weight-bold align-left">User name</label>
                            <input type="text" class="form-control" name="uname" id="name-u"
                                placeholder="Enter your user name." [(ngModel)]="model.userName" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label font-weight-bold align-left">Email</label>
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="Enter your email." [(ngModel)]="model.email" required>
                        </div>
                        <div class="form-group">
                            <label for="pass" class="form-label font-weight-bold align-left">Password</label>
                            <input type="password" name="password" class="form-control" id="pass"
                                placeholder="Enter your password." [(ngModel)]="model.password" required>
                        </div>
                        <div class="form-group">
                            <label for="pass2" class="form-label font-weight-bold align-left">Confirm Password</label>
                            <input type="password" name="cnf-password" class="form-control" id="pass2"
                                placeholder="Re-enter your password." [(ngModel)]="model.confirmPassword" required>
                        </div>
                        <div class="button-group">
                            <button class="btn btn-secondary btn-block" type="button" (click)="goBack()">Back</button>
                            <button class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>