<div class="container mt-3">
    <form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit()">
        <div class="row jumbotron box8">
            <div class="col-sm-12 mx-t3 mb-4">
                <h2 class="text-center text-info">Registration Users Company</h2>
            </div>
            <div class="col-sm-12 form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" id="name"
                    placeholder="Enter your company name." [(ngModel)]="model.name">
                <div *ngIf="registrationForm.get('name')?.invalid && (registrationForm.get('name')?.dirty || registrationForm.get('name')?.touched)"
                    class="alert alert-danger">
                    Company name is required.
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label for="Industry">Industry <i class="fas fa-caret-down"></i></label>
                <select class="form-control custom-select browser-default" formControlName="industry" id="Industry"
                    name="Industry" [(ngModel)]="model.industry">
                    <option value="" disabled selected>Choose the Industry</option>
                    <option *ngFor="let industry of industries" [value]="industry">{{ industry }}</option>
                </select>
                <div *ngIf="registrationForm.get('industry')?.invalid && (registrationForm.get('industry')?.dirty || registrationForm.get('industry')?.touched)"
                    class="alert alert-danger">
                    Industry is required.
                </div>
            </div>
            <div class="col-sm-12 form-group mb-0">
                <button class="btn btn-primary float-right" type="submit">Next</button>
            </div>
        </div>
    </form>
</div>