
<div class="container mt-3">
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="row jumbotron box8">
            <div class="col-sm-12 mx-t3 mb-4">
                <h2 class="text-center text-info">Registration Users Company</h2>
            </div>
            <div class="col-sm-12 form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your company name."
                   [(ngModel)]="model.name" required>
            </div>
        <div class="col-sm-12 form-group">
            <label for="Industry">Industry <i class="fas fa-caret-down"></i></label>
            <select class="form-control custom-select browser-default"  id="Industry" name="Industry"
            [(ngModel)]="model.industry">
                <option *ngFor="let industry of industries" [value]="industry">{{ industry }}</option> 
            </select>
        </div>
            <div class="col-sm-12 form-group mb-0">
                <button class="btn btn-primary float-right" type="submit">Next</button>
            </div>
        </div>
    </form>
</div>